.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/task_signpost', task: @task, action: 'Report no business for'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report no business

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      By reporting no business you are confirming that you have no transactions
      to report on this framework.

    .govuk-form-group
      = button_to 'Confirm no business', task_no_business_path(task_id: @task), class: 'govuk-button'
