.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Unique Reference Number (URN) Lookup
.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      You will be asked to supply a unique reference number for each of the
      customers in your uploaded files. If you do not know the relevant customer
      URN, you can look it up in this Excel file:

    %p
      = link_to 'Download CCS URN List (August 2018).xls',
        '/urn/CCS URN List (August 2018).xls'
      (12.4MB)

    %p
      Open this file in Microsoft Excel and use the 'find' tool within Excel to
      locate the relevant customer.  We recommend using the customer postcode to
      search.

    %p
      If you have a customer without a URN you will need to
      = link_to('contact the support team', "mailto:#{support_email_address}")
      to have one created for you.
