- page_title 'Unique reference number lookup'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Unique Reference Number (URN) Lookup
.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Need a URN? 
      = link_to 'Download the URN list', "https://www.gov.uk/guidance/current-crown-commercial-service-suppliers-what-you-need-to-know#customer-unique-reference-number-urn-list", target: :_blank
      (opens in a new tab)