.grid-row
  .column-two-thirds
    %h1.heading-xlarge
      Unique Reference Number (URN) Lookup

    %p
      You will be asked to supply a unique reference number for your customers
      in your template files, if you do not know your customer URN you can look
      it up in this Excel file:

    = link_to 'Download CCS URN List (July 2018).xls',
      '/urn/CCS URN List (July 2018).xls'
    (12.4MB)

    %h3.heading-small
      Finding a URN
    %p
      Open this file in Microsoft Excel and use the find functionality to locate
      your customer, we recomend using the customer postcode as it is the most
      accurate.

    %h3.heading-small
      Missing URN
    %p
      If you have a customer without a URN you will need to
      = link_to('contact the support team', 'mailto:dss@crowncommercial.gov.uk')
      to have one created for you.
