- case submission.status
- when 'pending', 'processing'
    = link_to 'View progress', task_submission_path(task_id: task.id, id: submission.id), {class: 'govuk-button', 'aria-label' => "View progress of this task"}
- when 'validation_failed'
    = link_to 'View errors', task_submission_path(task_id: task.id, id: submission.id), {class: 'govuk-button', 'aria-label' => "View the errors for this task"}
    = link_to 'Upload amended file', new_task_submission_path(task_id: task.id), {class: 'govuk-button', 'aria-label' => "Upload an amended file for this task"}
- when 'in_review'
    = link_to 'Submit management information', task_submission_path(task_id: task.id, id: submission.id), {class: 'govuk-button', 'aria-label' => "Submit management information for this task"}
