- page_title "Tasks complete: Report no business for selected tasks"

.govuk-grid-row
  .govuk-grid-column-full
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title
        Under construction
