- page_title 'History'
.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      History

- if @tasks.blank?
  %p You have no completed tasks yet.
- else
  .govuk-grid-row
    .govuk-grid-column-full
      %table.govuk-table{:class => 'govuk-!-margin-top-7'}
        %thead.govuk-table__head
          %tr.govuk-table__row
            %th.govuk-table__header Framework
            %th.govuk-table__header Month
            %th.govuk-table__header Completed
        %tbody.govuk-table__body
          - @tasks.each do |task|
            %tr.govuk-table__row
              %td.govuk-table__cell= task.framework.name
              %td.govuk-table__cell= task.reporting_period
              %td.govuk-table__cell= task.completed_at
