- page_title 'Your reporting tasks'

.govuk-grid-row
  .govuk-grid-column-three-quarters
    %h1.govuk-heading-xl
      Tasks

  .govuk-grid-column-one-quarter
    - if @unstarted_tasks.many?
      = link_to 'Report no business for <br/>2 or more tasks'.html_safe, bulk_new_submissions_path, class: 'govuk-button'

.govuk-grid-row
  .govuk-grid-column-full
    - if @tasks.any?
      %table.govuk-table
        %tbody.govuk-table__body
          = render collection: @tasks, partial: 'task'
    - else
      = render 'no_tasks'

    %p{class: 'govuk-!-margin-top-7'}
      = link_to "View completed tasks", history_tasks_path
