- page_title 'Your reporting tasks'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Tasks

    - if @tasks.any?
      %table.govuk-table
        %tbody.govuk-table__body
          = render collection: @tasks, partial: 'task'
    - else
      = render 'no_tasks'

    %p{class: 'govuk-!-margin-top-7'}
      = link_to "View completed tasks", history_tasks_path
