- page_title 'Accessibility statement for Report management information to CCS'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Accessibility statement for Report management information to CCS

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p.govuk-body This website is run by Crown Commercial Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:
    %ul.govuk-list.govuk-list--bullet
      %li change colours, contrast levels and fonts
      %li zoom in up to 300% without the text spilling off the screen
      %li navigate most of the website using just a keyboard
      %li navigate most of the website using speech recognition software
      %li listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
    %p We've also made the website text as simple as possible to understand.
    %p.govuk-body
      %a.govuk-link{:href => "https://mcmw.abilitynet.org.uk/"} AbilityNet
      has advice on making your device easier to use if you have a disability.
    %h2.govuk-heading-l#howaccessiblethiswebsiteis How accessible this website is
    %p.govuk-body This website is currently partially compliant with WCAG 2.1 AA standards.
    %p.govuk-body
      It was tested to WCAG 2.0 standards in November 2018, which means that it has not been tested for the
      = succeed "." do
        %a.govuk-link{:href => "https://www.w3.org/WAI/standards-guidelines/wcag/new-in-21/"} new criteria listed in WCAG 2.1
    %h2.govuk-heading-l#whattodoifyoucannotaccesspartsofthiswebsite What to do if you cannot access parts of this website
    %p.govuk-body If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:
    %ul.govuk-list.govuk-list--bullet
      %li email info@crowncommercial.gov.uk
      %li call 0345 410 2222
    %p.govuk-body We'll consider your request and get back to you within five working days.
    %h2.govuk-heading-l#reportingaccessibilityproblemswiththiswebsite Reporting accessibility problems with this website
    %p.govuk-body
      We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact
      = succeed "," do
        %a.govuk-link{:href => "mailto:info@crowncommercial.gov.uk"} info@crowncommercial.gov.uk
    %ul.govuk-list.govuk-list--bullet
      %li the URL (web address) of the page you are on
      %li the problem you have found
      %li if you are using any assistive technology (for example if you use a screen reader, please tell us the type of screen reader you use)
    %h2.govuk-heading-l#enforcementprocedure Enforcement procedure
    %p.govuk-body
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint,
      = succeed "." do
        %a.govuk-link{:href => "https://www.equalityadvisoryservice.com/"} contact the Equality Advisory and Support Service (EASS)
    %h2.govuk-heading-l#contactingusbyphoneorvisitingusinperson Contacting us by phone or visiting us in person
    %p.govuk-body
      Find out how to
      = succeed "." do
        %a.govuk-link{:href => "https://www.crowncommercial.gov.uk/contact"} contact us
    %h2.govuk-heading-l#technicalinformationaboutthiswebsite39saccessibility Technical information about this website's accessibility
    %p.govuk-body Crown Commercial Service is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
    %p.govuk-body This website is fully compliant with the Web Content Accessibility Guidelines version 2.0 AA standard.
    %p.govuk-body
      This website is partially compliant with the
      %a.govuk-link{:href => "https://www.w3.org/TR/WCAG21/"} Web Content Accessibility Guidelines version 2.1
      AA standard.
    %p.govuk-body
      We aim to have the website tested to meet the
      %a.govuk-link{:href => "https://www.w3.org/WAI/standards-guidelines/wcag/new-in-21/"} additional criteria added to the Web Content Accessibility Guidelines 2.1
      by no later than January 2020.
    %h2.govuk-heading-l#howwetestedthiswebsite How we tested this website
    %p.govuk-body This website was last tested on 20 November 2018 to WCAG 2.0 standards. The test was carried out by Digital Accessibility Centre.
    %p.govuk-body
      We tested our main website platform, available at
      %a.govuk-link{:href => "https://www.reportmi.crowncommercial.gov.uk/"} https://www.reportmi.crowncommercial.gov.uk
      and the following user journeys:
    %ol.govuk-list.govuk-list--number
      %li
        Home screen
        %ol.govuk-list.govuk-list--number
          %li Submit return
          %li Submit nil return
      %li
        Upload screen
        %ol.govuk-list.govuk-list--number
          %li Attempt to upload and check each of the 4 files attached:
          %li All the errors
          %li Bad Maths
          %li Dodgy URN
          %li Valid File
      %li File uploaded screen
      %li Return completed
    %h2.govuk-heading-l#whatwe39redoingtoimproveaccessibility What we're doing to improve accessibility
    %p.govuk-body We will have this site tested to WCAG 2.1 AA standard by no later than January 2020.
    %p.govuk-body This statement was prepared on 24 September 2019.
