- tracking_id = ENV['GOOGLE_ANALYTICS_ID']
- gtm_id = ENV['GOOGLE_TAG_MANAGER_ID']
- return unless tracking_id.present?
- return unless gtm_id.present?

%script{ async: true, src: "https://www.googletagmanager.com/gtag/js?id=#{tracking_id}" }

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', "#{tracking_id}");

  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer',"#{gtm_id}");
