%table.error
  %thead
    %tr
      %th
        Location
      %th
        Help
  %tbody
    - errored_entries.each do |entry|
      - entry.validation_errors.each do |validation_error|
        %tr
          %td
            %p
              = entry.source["sheet"]
            %p
              Column:
              = validation_error['location']['column']
              Row:
              = validation_error['location']['row']
          %td
            = validation_error['message']
