.grid-row
  .column-full
    %details#notification.govuk-details{ data: { notification_id: @notification.id }, open: true }
      %summary.govuk-details__summary.govuk-heading-m
        %span.govuk-details__summary-text
          = @notification.summary.html_safe
      .govuk-details__text
        = @notification.notification_message.html_safe