- page_title 'Cookie policy'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Cookie policy

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p{class: 'govuk-body-l'}
      Report Management Information (RMI) puts small files (known as ‘cookies’) onto your computer to 
      collect information about how you browse the site.

    %p
      Cookies are used to:
    %ul{ :class => 'govuk-list govuk-list--bullet' }
      %li
        measure how you use the website so it can be updated and improved based on your needs
      %li
        remember the notifications you’ve seen so that we don’t show them to you again
    %p
      You’ll normally see a message on the site before we store a cookie on your computer.
    %p
      Find out more about 
      = link_to ' how to manage cookies.', about_cookies_url, target: :_blank

    %h2.govuk-heading-m
      Measuring website usage (Google Analytics)
    %p
      We use Google Analytics software to collect information about how you use RMI. We do this to help make 
      sure the site is meeting the needs of its users and to help us make improvements.
    %p
      Google Analytics stores information about:
    %ul{ :class => 'govuk-list govuk-list--bullet' }
      %li
        the pages you visit on RMI
      %li
        how long you spend on each RMI page
      %li
        how you got to the site
      %li
        what you click on while you’re visiting the site
    %p
      We don’t collect or store your personal information like your name or address so this information can’t be 
      used to identify who you are.
    %p
      We don’t allow Google to use or share our analytics data.
    %p
      Google Analytics sets the following cookies:
    %h3.govuk-heading-s
      GA4
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col' } Cookie name
          %th.govuk-table__header{ scope: 'col' } Purpose
          %th.govuk-table__header{ scope: 'col' } Expires
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            _ga
          %td.govuk-table__cell
            Used to distinguish users.
          %td.govuk-table__cell
            2 years
        %tr.govuk-table__row
          %td.govuk-table__cell
            :escaped
              _ga_<container-id>
          %td.govuk-table__cell
            Used to persist session state.
          %td.govuk-table__cell
            2 years

    %h2.govuk-heading-m
      Measuring website usage (Glassbox)
    %p
      We use Glassbox software to collect information about how you use CCS. We do this to help make sure the site is meeting the needs of its users and to help us make improvements.
    %p
      Glassbox stores information about:
    %ul{ :class => 'govuk-list govuk-list--bullet' }
      %li
        Browsing activity
      %li
        Click-stream activity
      %li
        Session heatmaps
      %li
        Scrolls
    %p
      We don’t collect or store your personal information (e.g. your name or address) so this information can’t be used to identify who you are.
    %p
      We don’t allow Glassbox to use or share our analytics data.
    %p
      Glassbox sets the following cookies:
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col' } Name
          %th.govuk-table__header{ scope: 'col' } Type
          %th.govuk-table__header{ scope: 'col' } Description
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            _cls_s
          %td.govuk-table__cell
            Cookie (required)
          %td.govuk-table__cell
            The session identifying cookie. It also indicates if the visitor is new or existing.
            %ul{ :class => 'govuk-list govuk-list--bullet' }
              %li
                0: New
              %li
                1: Existing
        %tr.govuk-table__row
          %td.govuk-table__cell
            _cls_v
          %td.govuk-table__cell
            Cookie (required)
          %td.govuk-table__cell
            The visitor identifying cookie.
    %p
      You can opt out of
      = link_to ' Glassbox cookies', "https://tools.google.com/dlpage/gaoptout"
    
    %h2.govuk-heading-m
      Strictly necessary cookies
    %h3.govuk-heading-s
      Cookies message
    %p
      You may see a banner when you visit RMI inviting you to accept cookies or review your settings. We’ll 
      set cookies so that your computer knows you’ve seen it and not to show it again, and also to store your settings.
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col' } Name
          %th.govuk-table__header{ scope: 'col' } Purpose
          %th.govuk-table__header{ scope: 'col' } Expires
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            rmi_cookie_settings_viewed
          %td.govuk-table__cell
            Lets us know that you’ve seen our cookie message
          %td.govuk-table__cell
            1 year
        %tr.govuk-table__row
          %td.govuk-table__cell
            cookie_preferences
          %td.govuk-table__cell
            Saves your cookie consent setting
          %td.govuk-table__cell
            1 year

    %h3.govuk-heading-s
      RMI account
    %p
      If you create an RMI account, we’ll use essential cookies to make the account work and to keep your information secure.
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ scope: 'col' } Name
          %th.govuk-table__header{ scope: 'col' } Purpose
          %th.govuk-table__header{ scope: 'col' } Expires
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            _data_submission_service_session
          %td.govuk-table__cell
            Remembers that you’ve signed in to your RMI account while you use RMI
          %td.govuk-table__cell
            When you close your web browser
        %tr.govuk-table__row
          %td.govuk-table__cell
            _data_submission_service_api_session
          %td.govuk-table__cell
            Remembers that you’ve signed in to your RMI account while you use RMI
          %td.govuk-table__cell
            When you close your web browser

    %h2.govuk-heading-m
      Change your settings
    %p
      You can 
      = link_to ' change which cookies you’re happy for us to use.', cookie_settings_path

    %h2.govuk-heading-m
      Other services
    %p
      This policy is for RMI only. When you go to a service run by a different organisation, they may have their own cookie policy.
