.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information to
      %br
        Crown Commercial Service

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Use this service to:

    %ul{ :class => 'govuk-list govuk-list--bullet' }
      %li
        get the template for your framework(s)
      %li
        report your management information to CCS
      %li
        report no business to CCS
    %p
      If you didn’t do any business, you still need to sign in and let us know.

    %p{class: 'govuk-!-margin-top-9'}
      = button_to 'Sign in', '/auth/auth0', class: 'govuk-button govuk-button--start', id: 'sign-in', 'aria-label' => "Sign in to the service"

    %h2.govuk-heading-m
      If you’re having trouble signing in

    %p
      You’ll need a username and password to sign in to this service. Your username is the email address that gets the notifications.

    %p
      If you are not able to sign in or do not receive a password reset email, contact
      = mail_to support_email_address
      for help.
