.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Report management information to
      %br
        Crown Commercial Service

.govuk-grid-row
  .govuk-grid-column-two-thirds

    %p
      = link_to 'View your tasks', tasks_path
      to report your management information for this month.
      If you didn’t do any business, you still need to let us know.

    %p
      = link_to 'Go to tasks', tasks_path

    %p
      = succeed '.' do
        If you are having problems reporting your management
        information, please contact support at
        = mail_to support_email_address

