.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-form-group{id: 'feedback-form'}
      = form_tag(customer_effort_score_task_submission_path, method: :post) do
        %fieldset.govuk-fieldset
          %legend.govuk-fieldset__legend.govuk-fieldset__legend--l
            %h2.govuk-heading-m
              Overall how easy was it to use this service today? (Optional)
          - if @score && @score.errors.key?('rating')
            %p.govuk-error-message{class: 'govuk-!-padding-bottom-3'} Please select an option
          .govuk-radios{"data-module" => "govuk-radios"}
            .govuk-radios__item
              %input#customer-satisfaction-1.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Very easy", checked: (@score.rating == "Very easy" if @score)}
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-1"}
                Very easy
            .govuk-radios__item
              %input#customer-satisfaction-2.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Easy", checked: (@score.rating == "Easy" if @score)}
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-2"}
                Easy
            .govuk-radios__item
              %input#customer-satisfaction-3.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Neither easy or difficult", checked: (@score.rating == "Neither easy or difficult" if @score)}
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-3"}
                Neither easy or difficult
            .govuk-radios__item
              %input#customer-satisfaction-4.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Difficult", checked: (@score.rating == "Difficult" if @score)}
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-4"}
                Difficult
            .govuk-radios__item
              %input#customer-satisfaction-5.govuk-radios__input{name: "customer_satisfaction", type: "radio", value: "Very difficult", checked: (@score.rating == "Very difficult" if @score)}
              %label.govuk-label.govuk-radios__label{for: "customer-satisfaction-5"}
                Very difficult

        .govuk-character-count{"data-maxlength" => "2000", "data-module" => "govuk-character-count"}
          %h2.govuk-label-wrapper{class: 'govuk-!-margin-top-7'}
            %label.govuk-label.govuk-label--m{for: "more-detail"}
              How could we improve this service? (Optional)
          #more-detail-hint.govuk-hint
            Do not include personal or financial information.
            %br
            %br
            If you have a question or require support please contact
            %br
            = mail_to(support_email_address)
          - if @score && @score.errors.key?('comments')
            %p.govuk-error-message Feedback must be 2000 characters or less
          %textarea#with-hint.govuk-textarea.govuk-js-character-count{"aria-describedby" => "more-detail-hint", name: "more_detail", rows: "5"} #{@score.comments if @score}
          #with-hint-info.govuk-hint.govuk-character-count__message.govuk-character-count__status
            You can enter up to 2000 characters

        = submit_tag 'Send feedback', data: { 'prevent-double-click': true }, class: 'govuk-button'
