.govuk-grid-row
  .govuk-grid-column-two-thirds
    .govuk-panel.govuk-panel--confirmation
      %h1.govuk-panel__title
        Management information for
        = @task.framework.short_name
        = @task.framework.name
        submitted to CCS

    %p
      If you’ve made a mistake or need to amend the management information
      you've supplied, email
      = mail_to(support_email_address)
      for help.
    %p
      = link_to 'Home', tasks_path, class: 'button'
