.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h1.heading-xlarge Submission completed
.grid-row
  .column-two-thirds
    %p
      If you’ve made a mistake or need to amend the management information
      you've supplied, email
      = mail_to(support_email_address)
      for help.
    %p
      You'll be sent a reminder to submit next month's management information.

.form-group
  = link_to t('uploads.review.back'), tasks_path, class: 'button'

.form-group
  = link_to 'Sign out', sign_out_path, class: 'button'
