= content_for(:head, tag.meta('http-equiv': 'refresh', content: 5))

.u_text-center
  = render partial: 'shared/loading_spinner'
  %p Submission processing

.grid-row
  .column-two-thirds
    #processing-support-message
      %h2.heading-medium
        This is a support message
      %p
        It will help you.
