= content_for(:head, tag.meta('http-equiv': 'refresh', content: 5))

.govuk-grid-row
  %h1.govuk-heading-l
    Checking file…

  = render 'components/progress_indicator'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Your file is being checked. You do not have to stay on this page.

    %p
      Your task will be updated as this progresses.


