= content_for(:head, tag.meta('http-equiv': 'refresh', content: 5))

.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/task_signpost', framework: @task.framework

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-l
      Checking file…

  = render 'shared/progress_indicator'

.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      Your file is being checked. You do not have to stay on this page.

    %p
      Your task will be updated as this progresses.


