.govuk-grid-row
  .govuk-grid-column-full
    = render 'shared/task_signpost', framework: @task.framework

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Errors to correct

.govuk-grid-row
  .govuk-grid-column-two-thirds

    .govuk-error-summary{ :role=>"alert", :aria-labelledby=>"error-summary-heading", :tabindex=>"-1"}
      %h2.govuk-error-summary__title
        There are errors in your uploaded file

      %p
        You need to correct the errors in your spreadsheet and upload it again.
      - if potentially_truncated_errors(@submission)
        %p
          The first 10 rows with errors are listed below. There may be also be other errors in the uploaded file.

- @submission.sheet_errors.each_pair do |sheet_name, errors|
  = render('errors_table', errors: errors, sheet_name: sheet_name) if errors.any?
