# Copy to file named `.env.cf.$CF_SPACE`
SKYLIGHT_ENV=
SKYLIGHT_AUTHENTICATION=
ROLLBAR_ENV=
ROLLBAR_ACCESS_TOKEN=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
API_ROOT=
API_PASSWORD=
APP_SECRET_KEY_BASE=
API_SECRET_KEY_BASE=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
WORKDAY_API_USERNAME=
WORKDAY_API_PASSWORD=
WORKDAY_TENANT=
SIDEKIQ_USERNAME=
SIDEKIQ_PASSWORD=
AZURE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_CONTAINER_NAME=
