.grid-row
  .column-two-thirds
    %h1.heading-xlarge
      Sorry, there is a problem with the service

.grid-row
  .column-two-thirds
    %p
      Try again later.
    %p
      Contact support at
      = mail_to(support_email_address)
      if you need to speak to someone about reporting your management information.
