@import "govuk-frontend/components/tag/tag";

.govuk-tag {
  padding-bottom: 4px;
  background-color: govuk-colour("secondary");
  line-height: 1em;
}

.govuk-tag__failure {
  background-color: govuk-colour("failure");
}

.govuk-tag__warning {
  color: govuk-colour("black");
  background-color: govuk-colour("warning");
}

.govuk-tag__success {
  color: govuk-colour("black");
  background-color: govuk-colour("success");
}

.govuk-tag__notice {
  color: govuk-colour("black");
  background-color: govuk-colour("grey-2");
}
