  .task-row {
    margin-left: 0;
    margin-right: 0;
    padding-top: $gutter;
    border-top: 1px solid $light-grey;
    &:last-child {
      border-bottom: 1px solid $light-grey;
    }
    .task-details {
      padding-left: 0;
      h3 {
        margin-top: 0;
      }
    }
    .task-controls {
      padding-right: 0;
      // text-align: right;
      .column-one-third {
        // overide layout to no padding
        padding: 0;
      }
    }
  }