#global-header {
  background-color: $ccs-primary;
  .header-wrapper {
    background-color: $ccs-primary;
    padding: $gutter-half 0;
    #logo {
      background: none;
      img {
        visibility: visible;
      }
    }
  }
  .header-proposition {
    #proposition-links {
      a.active {
        color: $white;
        border-bottom: 1px solid $white;
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
}