$ccs-primary: #9b1a47;
$ccs-secondary: #01989F;

$black: #000;
$white: #fff;
$light-grey: #dee0e2;
$dark-grey: #2f2f2f;

$error-colour: #B10E1E;

$toolkit-font-stack: 'Source Sans Pro', arial, helvetica, sans-serif;