@import 'variables';
/* From GDS's alphagov/govuk_frontend_toolkit */

@import 'font_stack';
@import 'measurements';
@import 'conditionals';
@import 'device-pixels';
@import 'grid_layout';
@import 'typography';
@import 'shims';
@import 'design-patterns/alpha-beta';
@import 'design-patterns/buttons';
@import 'design-patterns/breadcrumbs';
/* From GDS's alphagov/govuk_elements */

//@import 'elements/govuk-template-base';
@import 'elements/helpers';
@import 'elements/reset';
@import 'elements/layout';
@import 'elements/elements-typography';
@import 'elements/icons';
@import 'elements/lists';
@import 'elements/forms';
@import 'elements/forms/form-multiple-choice';
@import 'elements/forms/form-validation';
@import 'elements/breadcrumbs';
@import 'elements/phase-banner';
@import 'elements/components';
@import 'elements/panels';
@import 'elements/tables';

/* GOVUK Template components */
@import 'components/basic';
@import 'components/accessibility';
@import 'components/header';
@import 'components/footer';


/* Our components */
@import 'components/phase-banner';
@import 'components/tasks';
@import 'components/buttons';

.c_spinner {
  width: 100px;
  height: 100px;
}

.u_text-center {
  text-align: center;
}

.u_error {
  color: $error-colour;
  margin-bottom: 10px;
}