- page_title 'Email Verification'
%div{ class: "govuk-panel govuk-panel--confirmation govuk-!-margin-top-6 govuk-!-margin-bottom-6" }
  %h1.govuk-panel__title
    Email Verification
  %div.govuk-panel__body
    = @message
