.grid-row
  .column-two-thirds
    .govuk-box-highlight
      %h1.heading-xlarge Submission completed
.grid-row
  .column-two-thirds
    %p= t('.message.para_1')
    %p= t('.message.para_2')

.form-group
  = link_to t('uploads.review.back'), tasks_path, class: 'button'

.form-group
  = link_to 'Log out', sign_out_path, class: 'button'