.u_text-center
  = render partial: 'shared/loading_spinner'
  %p processing...

:javascript

  var polling_url = "#{@polling_url}";
  var review_url = "#{new_task_submission_review_path}";

  function checkStatus() {
    $.getJSON(polling_url, function(result) {
      if(result.complete) location.href = review_url;
      else setTimeout(checkStatus, 2000);
    });
  }

  checkStatus();