.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Check which service to report to
.govuk-grid-row
  .govuk-grid-column-two-thirds
    %p
      The following frameworks are submitted through this service.
    %p
      If you are reporting on any other framework, use the existing
      = succeed '.' do
        = link_to 'MISO service', 'https://miso.ccs.cabinetoffice.gov.uk/', :title => 'Link to MISO Service'

.govuk-grid-row
  .govuk-grid-column-full
    = link_to('Back', '/',{ :class => 'govuk-back-link', :title => 'Link to start page'})
    %table.govuk-table
      %thead.govuk-table__head
        %tr.govuk-table__row
          %th.govuk-table__header{ :scope => 'col'}
            Framework number
          %th.govuk-table__header{ :scope => 'col'}
            Framework name
      %tbody.govuk-table__body
        %tr.govuk-table__row
          %td.govuk-table__cell
            CM/OSG/05/3565
          %td.govuk-table__cell
            Laundry Services Wave 2
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM807
          %td.govuk-table__cell
            Vehicle Hire
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM849
          %td.govuk-table__cell
            Laundry and Linen Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM858
          %td.govuk-table__cell
            Pan Government Vehicle Leasing and Fleet Outsource Solutions
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM1031
          %td.govuk-table__cell
            Laundry and Linen Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM1043.5
          %td.govuk-table__cell
            Digital Outcomes and Specialists 3
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM1070
          %td.govuk-table__cell
            Vehicle Purchase
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3710
          %td.govuk-table__cell
            Vehicle Lease and Fleet Management
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3754
          %td.govuk-table__cell
            Vehicle Telematics
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3756
          %td.govuk-table__cell
            Rail Legal Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3767
          %td.govuk-table__cell
            Supply and Fit of Tyres
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3772
          %td.govuk-table__cell
            Specialist Laundry Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3786
          %td.govuk-table__cell
            General Legal Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3787
          %td.govuk-table__cell
            Finance & Complex Legal Services
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM3797
          %td.govuk-table__cell
            Journal Subscriptions
        %tr.govuk-table__row
          %td.govuk-table__cell
            RM6060
          %td.govuk-table__cell
            Vehicle Purchase
    = link_to('Back', '/',{ :class => 'govuk-back-link', :title => 'Link to start page'})
