- page_title 'Support'

.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Support

.govuk-grid-row
  .govuk-grid-column-two-thirds

    %p
      Report management information is a new service from Crown Commercial Service. You may see changes between visits as it is developed.
    %p
      We are working hard to make sure the service is stable and usable, but if you do experience issues you can email the team for support at
      = succeed '.' do
        = mail_to support_email_address
    %p
      We offer support during office hours: 9.30am to 5.30pm, Monday to Friday.
    %p
      When contacting us for support, please include:
    %ul.govuk-list.govuk-list--bullet
      %li
        what you were trying to do
      %li
        what happened
      %li
        what internet browser you were using
      %li
        screenshots of any error screens or messages
    %p
      If you have a general question about the service, please contact the team at the same address, including ‘general question’ in the subject line of your email.
    %p
      To tell us about your experience of the service you can complete our <a href="https://www.surveymonkey.com/r/9QTDW9P">short feedback survey</a>. Alternatively contact the team on
      = mail_to support_email_address
      with ‘feedback’ in the subject line of your email.

    %h2.govuk-heading-l
      Correcting management information

    %p
      You can replace management information if it is incorrect.

    %p
      Find the return in your
      = link_to 'history', history_tasks_path
      and follow the steps to correct the return.

    %p
      Please note: you will need to pay the management charge from the incorrect return unless a corrected return is made. Once your management information has been corrected you will be issued a credit note.


