.govuk-grid-row
  .govuk-grid-column-full
    %h1.govuk-heading-xl
      Support

.govuk-grid-row
  .govuk-grid-column-two-thirds

    %p
      Report Management Information is being developed and supported by the
      Crown Commercial Service (CCS). This is a new service, still in active
      development, so you may see changes in the service between visits.
    %p
      We are working hard to ensure the service is stable and usable for you,
      but if you do encounter issues you can access support by emailing the team
      at
      = mail_to support_email_address
    %p
      Our office hours are 9.30am to 5.30pm, Monday to Friday. We don't
      currently offer out of hours support.
    %p
      When contacting us for support, please include:
    %ul.govuk-list.govuk-list--bullet
      %li
        what you were trying to do
      %li
        what happened
      %li
        what internet browser you are using
      %li
        If you can, include screenshots of any error screens or messages.
    %p
      If you’ve made a mistake or need to amend the management information
      you've supplied, email
      = mail_to support_email_address
      for help.
    %p
      If you have a general question about the service, please contact the team
      at the same address, including ‘general question’ in the subject line of
      your email.
    %p
      If you would like to give feedback on your experience of the service, you
      can complete our
      <a href="https://www.surveymonkey.com/r/9QTDW9P">short feedback survey</a>
      or contact the team at the email address above, including ‘feedback’ in the
      subject line of your email.

